.env

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
terraform/*tfstate*
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
tfstate
terraform/terraform.tfstate
*tfstate*

# Clés SSH
*.pem
*.key

# Node modules
**/node_modules/
